<div ng-show="charInfo.parent.roll">
		<div class="row">
			<div class="col-xs-1">
				<button class="btn btn-success btn-sm" ng-click="getNotes()"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
			</div>
			<div class="col-xs-11">
				<b>Noteworthy Items for Parents:</b>
			</div>
		</div>		
		<div class="row" ng-if="charInfo.parent.noteWorthy.items.length>0">
			<div class="col-xs-12">
				<ul class='list-group'>
					<li class="list-group-item" ng-repeat="notes in charInfo.parent.noteWorthy.items track by $index">
						
						<ul class='list-group'>

							<li class="list-group-item" ng-repeat="note in notes track by $index">
								
								<span class="badge" ng-show="charInfo.showRolls">{{note.roll}}</span>
								{{note.name}} - {{note.desc}}
							</li>						
						</ul>
					</li>						
				</ul>
			</div>
		</div>
</div>		