<div class="panel panel-primary">
            <div class="panel-heading">
				<div class="row">
					<div class="col-xs-1">
						<button class="btn btn-success btn-sm" ng-click="getChildEvents()"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
					</div>
					<div class="col-xs-9">Significant Events of Childhood</div>
					<div class="col-xs-1 text-right">
						<button class="btn btn-success btn-sm" ng-click="childCollapsed = !childCollapsed"><span class="glyphicon" ng-class="{'glyphicon-minus':!childCollapsed, 'glyphicon-plus':childCollapsed}" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
            <div class="panel-body" uib-collapse="childCollapsed">
				<?php
					//$childR = droll("1d3");
					// $ages = array();
					// $ageArray = array();
					//
					// echo "<ul class='list-group'>";
					//
					// for($i=0;$i <= $childR['final']; $i++){
					//     array_push($ageArray,getAge('child'));
					// }
					//
					// foreach ($ageArray as $age) {
					//     $ages[] = $age['final'];
					// }
					// asort($ages);
					//
					// foreach ($ages as $age){
					//     echo "<li class='list-group-item'><b class='text-primary'>Age ".$age.": </b>";
					// t215();
					// }
					//
					//
					// echo "</ul>";               
                ?>
				</div>
            </div>