<div class="panel panel-primary">
            <div class="panel-heading">
				<div class="row">
					<div class="col-xs-1">
						<button class="btn btn-success btn-sm" ng-click="getChildEvents()"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
					</div>
					<div class="col-xs-9">Significant Events of Childhood</div>
					<div class="col-xs-1 text-right">
						<button class="btn btn-success btn-sm" ng-click="childCollapsed = !childCollapsed"><span class="glyphicon" ng-class="{'glyphicon-minus':!childCollapsed, 'glyphicon-plus':childCollapsed}" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
            <div class="panel-body" uib-collapse="childCollapsed">
				<div class="row" ng-if="charInfo.childhood.events.items.length>0">
					<div class="col-xs-12">
						<div table-dive parent="charInfo.childhood.events"></div>		
					</div>
				</div>
            </div>