<div class="panel panel-primary">
	<div class="panel-heading"><button class="btn btn-success btn-sm" ng-click="getParents()"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button> Parents & NPCs</div>
	<div class="panel-body">
		<parent-status></parent-status>
		<parent-titles></parent-titles>
		<parent-jobs></parent-jobs>
		<div class="row">
			<div class="col-xs-12">
				<b>Noteworthy Items for Parents:</b>
				<ul class='list-group'>
					<li class="list-group-item" ng-repeat="item in noteworthy">{{item.name}}</li>
				</ul>
			</div>
		</div>


	</div>
</div>