<div class="row">
	<div class="col-xs-1">
		<button class="btn btn-success btn-sm" ng-click="getLegitimacy()"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
	</div>
	<div class="col-xs-11" ng-if="charInfo.legitMod>0">
		<span class='text-danger'><strong>Character is Illegitimate:</strong></span><br />
		<span><span ng-if="charInfo.showRolls" class="badge">{{charInfo.legitimacy.roll}}</span> {{charInfo.legitimacy.desc}}</span>
	</div>
	<div class="col-xs-11" ng-if="charInfo.legitMod==0">
		<span ng-if="charInfo.showRolls" class="badge">{{charInfo.legitimacy.roll}}</span> <span><strong>Character is Legitimate:</strong></span><br />
	</div>
</div>		